body {
	margin:0;
	padding:0;
	background:url(/images/aside.png) repeat-y;
	color:#eee;
	font-family:"Helvetica Neue", Helvetica, Arial;
}
.hide { display: none; visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }
.force-show {
	display:block !important;
}

h1 {
	background:url(/images/logo.png) no-repeat;
	width:157px;
	height:23px;
	text-indent:158px;
	overflow:hidden;
	margin:0 0 20px;
}
h3 {
	font-family: 'Gochi Hand', cursive;
	margin:0 0 6px;
	padding:10px 0 0;
	font-size:17px;
	font-weight:normal;
	color:#ccc;
}
h3.choose-texture {
	position:relative;
}
h3.choose-texture img {
	position:absolute;
	right:-15px;
	bottom:-10px;
}

/* ASIDE ********************/
.aside {
	float:left;
	width:160px;
	padding:20px;
	position:fixed;
}
.container {
	padding:15px 19px;
	background-color:rgba(255,255,255,0.02);
	border:solid 1px rgba(0,0,0,.3);
	margin-bottom:5px;
}
#colorpicker {
	position:relative;
	height:130px;
	width:168px;
	margin:-24px -24px 45px;
}
#colorpicker .form {
	height:auto !important;
	width:auto !important;
	position:static;
}
#colorpicker .form .color {
	top:133px;
	left:20px;
}
#colorpicker .form .color label {
	display:none;
}
#colorpicker .form .color input {
	border-radius:4px;
	padding:6px;
	font-size:13px;
	border:solid 1px #222;
	background-color:rgba(0,0,0,0.2);
	width:108px;
	color:#999;
}
#colorpicker .form .color input:focus { 
    outline: none; 
	border:solid 1px #333;
}

.opacity-container {
	margin-bottom:4px;}


.save-area {}
.save-area div {
	width:48px;
	height:48px;
	overflow:hidden;
	float:left;
	border:solid 1px rgba(0,0,0,.3);
}
.canvas-transparent-container {
	background:url(/images/transparent.gif) repeat;
	margin-right:20px;
}
.canvas-filled-container {}

.share.container {
	padding-bottom:4px;
}
.share .btn {
	margin-bottom:8px;
}

.extra p {
	font-size:12px;
	line-height:1.2;
	color:#888;
	margin:0 0 10px;
	padding:0;
}
.extra p a {
	color:#eee;
}

/* TEXTURES ********************/
.textures {
	width:100px;
	padding:0;
	float:left;
	margin:0 0 0 200px;
	border-left:solid 1px #111;
}
.textures li {
	display:block;
	height:100px;
	width:100px;
	overflow:hidden;
	margin:0;
	list-style-type:none;
	background-color:transparent;
	background-repeat:repeat;
	background-position:5px 5px;
	cursor:pointer;
}
.textures li.active {
	border-left:solid 3px rgba(0,0,0,0.5);
	border-top:solid 3px rgba(0,0,0,0.5);
	width:97px;
}
.textures li img {
	margin-left:101px;
}


/* PREVIEW ********************/
#canvas-preview {
	background-color:#fff;
	position:fixed;
	margin-left:300px;
}


