body {
	margin:0;
	padding:0;
	background:url(/images/aside.png) repeat-y;
	color:#eee;
	font-family: "helvetica neue", helvetica, arial;
}
.hide { display: none; visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


h1 {
	background:url(/images/logo.png) no-repeat;
	width:157px;
	height:23px;
	text-indent:158px;
	overflow:hidden;
	margin:0 0 20px;
}
h3 {
	font-size:14px;
	text-align:center;
}

/* ASIDE ********************/
.aside {
	float:left;
	width:160px;
	padding:20px;
	position:fixed;
}

#colorpicker-container {
	background-color:rgba(255,255,255,0.2);
	padding:20px;
	border:solid 1px #aaa;
	width:300px;
}
#colorpicker {
	position:relative;
	height:130px;
	width:160px;
}


.save-area {
	padding:19px;
	background-color:rgba(255,255,255,0.02);
	border:solid 1px rgba(0,0,0,.3);
	margin-bottom:20px;
}
.save-area div {
	width:48px;
	height:48px;
	overflow:hidden;
	float:left;
	border:solid 1px rgba(0,0,0,.3);
}
.canvas-transparent-container {
	background:url(/images/transparent.gif) repeat;
	margin-right:20px;
}
.canvas-filled-container {}

.share {
	display:none;
	padding:19px;
	background-color:rgba(255,255,255,0.02);
	border:solid 1px rgba(0,0,0,.3);
}
.share .btn {
	margin-bottom:5px;
}

/* TEXTURES ********************/
.textures {
	width:100px;
	padding:0;
	float:left;
	margin:0 0 0 200px;
}
.textures li {
	display:block;
	height:100px;
	width:100px;
	overflow:hidden;
	margin:0;
	list-style-type:none;
	background-color:transparent;
	background-repeat:repeat;
}
.textures li.active {
	border-left:solid 3px rgba(0,0,0,0.5);
	border-top:solid 3px rgba(0,0,0,0.5);
	width:97px;
}
.textures li img {
	margin-left:101px;
}


/* PREVIEW ********************/
#canvas-preview {
	background-color:#fff;
	position:fixed;
}


